<div class="sidebar">
  <div class="logo">
    <div class="logo-img">
        <img
          class="img-fluid w-100 h-100 glass-card"
          src="{{ url_for('static', filename='images/logo.jpg') }}"
          alt="Excel Comparison Banner"
        />
    </div>
    <div class="brand-text">ExcelCompare Pro</div>
    <small class="text-light mt-1">Enterprise Data Comparison</small>
  </div>

  <!-- {% include 'components/navbar.html' %} -->

  {% include 'file-manager.html' %}

  {% include 'components/quick-stats.html' %}

</div>
